@keyframes titles {
    0% {
        color: rgb(122, 124, 128);
        text-shadow: none;
    }
    5%{
        color: rgb(227, 232, 240);
        text-shadow: 0px 0px 10px,0px 0px 40px;
    }
    10% {
        color: rgb(122, 124, 128);
        text-shadow: none;
    }
    15%{
        color: rgb(227, 232, 240);
        text-shadow: 0px 0px 10px,0px 0px 40px;
    }
    20% {
        color: rgb(122, 124, 128);
        text-shadow: none;
    }
    25%{
        color: rgb(241, 243, 247);
        text-shadow: 0px 0px 10px,0px 0px 40px;
    }
    30% {
        color: rgb(122, 124, 128);
        text-shadow: none;
    }
    35%{
        color: rgb(227, 232, 240);
        text-shadow: 0px 0px 10px,0px 0px 40px;
    }
    60% {
        color: rgb(122, 124, 128);
        text-shadow: none;
    }
    80%{
        color: rgb(227, 232, 240);
        text-shadow: 0px 0px 10px,0px 0px 40px;
    }
}

#Title{
    display: inline;
    color: rgb(227, 232, 240);
    text-shadow: 0px 0px 10px,0px 0px 40px;
    font-size:8vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    padding-left: 0;
    animation-name: titles;
    animation-duration: 2s;
    animation-timing-function: step-start;
    transition: color 0.50s, text-shadow 0.5s;
    background: transparent;
}

#Title:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px,0px 0px 50px,0px 0px 100px;
}

#TitleHolder{
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0.9vw;
}

#HTML{
    background-color: rgb(20, 19, 31);
}

#canvas1{
    position: fixed;
    top: -20;
    left: -20;
    z-index: -1;
}