:root{
    --main-color: rgb(51, 51, 70);
    --back-color:rgb(30, 30, 40);
    --back-light-color: rgb(37, 37, 49);
    --main-text:rgb(255,255,255);
}

*{
    padding: 0;
    margin: 0;
    font-family: "Arial";
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body{
    background-color: var(--back-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#header-container{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px 10px;
    align-items: center;
    background-color: var(--back-light-color);
    border-bottom: 30px;
}

#header-button-container{
    display: flex;
}

#header-text{
    color: var(--main-text);
    margin-right: 10px;
    margin-left: 40px;
}

#header-search{
    outline-color: none;
    border-style: solid;
    border-color: var(--main-text);
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--main-text);
    width: 400px;
    /*align-self: stretch;*/
    /*flex-grow: 1;*/
}

.header-buttons{
    outline: none;
    height: 40px;
    width: 130px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--main-text);
    padding: 7px 10px;
    transition: 0.5s all;
    border-radius: 5px;
    margin: 0px 5px;
}

#search-button:hover{
    font-size: 20px;
    transition: all 0.1s;
}

.header-buttons:hover{
    background-color: var(--main-color);
    border-radius: 15px;
}

#banner{
    background-image: url("../assets/Banner.jpg");
    width: 100%;
    aspect-ratio: revert;
}

.product-grid{
    display: flex;
    flex-direction: row;
}

.product-container{
    display: flex;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width:25%;
    height:350px;
    border-color: var(--main-color);
    border-width: 4px;
    border-style: solid;
}

.product-order-button{
    background-color: var(--main-color);
    padding: 10px 20px;
    color: var(--main-text);
    border-radius: 20px;
    font-size: 20px;
    border: none;
}

.product-order-button:hover{
    background-color: var(--back-light-color);
}

.product-image{
    height: 200px;
    width: 200px;
    object-fit: cover;
    align-self: center;
}

.product-text{
    text-align: center;
    margin: 5px 10px;
}

.text{
    color: var(--main-text);
}